#total {
  border-radius: 10px;
  text-align: center;
  font-family: monospace;
}

#inputOne {
  border-radius: 10px;
  text-align: center;
  font-family: monospace;
}

#inputTwo {
  border-radius: 10px;
  text-align: center;
  font-family: monospace;
}

h1, h2 {
  font-family: monospace;
}
